
<div class= "container" style="font-family: 'Muli', sans-serif; text-align: center">
  <h1>Bienvenu <%= @user.name %></h1>

  <h5> Prêts pour l'aventure?</h5>
  <%= cl_image_tag("indiana_jones_film_GIF-downsized_large_gbtgzr.gif", :height=>120, :width=>350, :crop=>"scale") %>

  <p>Un grand merci pour ton soutien pour notre projet!</p>

  <h4>Notre ambition est simple (et basique ;) ):</h4>
  <h4>Créer la première marque d'épicerie importées 100% collaborative et 100% transparente</h4>

  <p>Notre objectif est simple: que tu devienne incolable sur ton café, ton thé, ton poivre, ton quinoa.
   que tu sache d'ou il vient, comment il est fabriqué, transformé, comment le déguster</p>
  <p>Parce qu'on est un tous plus intelligent que ça:</p>
    <%= cl_image_tag("et_GIF-downsized_large_no9gqb.gif") %>

  <p>On va tous se tirer vers le haut pour y voir plus clair dans tout ce basard!</p>

  <p>Car le chocolat n'est pas fabriqué comme ça: </p>
  <%= cl_image_tag("Animated_GIF-downsized_g7pfjq.gif", :height=>120, :crop=>"scale") %>





  <p>PS:</p>
  <p>Nous te garantissons ne pas utiliser ton mail a des fins d'exploitations commerciales, de spam ou autres</p>
</div>
