.wrapper-home {
  h5 {
    font-size: 16px;
    line-height: 1.5;
  }
  h4 {
    line-height: 1.5;
  }
//font-family: 'Poppins', sans-serif;
//font-family: 'Encode Sans Condensed', sans-serif;
//font-family: 'Encode Sans Condensed', sans-serif;
// font-family: 'Lato', sans-serif;
// font-family: 'Oswald', sans-serif;
// font-family: 'Encode Sans Semi Expanded', sans-serif;
//font-family: 'Fira Sans', sans-serif;
//font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
h1 {
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 1.5px;
}
h2 {
  font-size: 22px;
  font-weight: 700;
}
// font-family: 'Josefin Sans', sans-serif;
}

.banner {
margin-top: 15px;
padding: 20px;

}
.grey {
  color: #484848;
}


.title{
  margin-bottom: 40px;
  h1 {
    font-size: 35px;
    //
    // font-family: 'Permanent Marker', cursive;
    //
  }
}

.first-banner {
  background-image: radial-gradient(ellipse at center, rgba(0,50,70,0.2) 40%,rgba(0,50,70,0.2) 100%), url('https://res.cloudinary.com/dcljc9muz/image/upload/f_auto,c_scale,q_auto:best,w_1500/v1532032555/Producteurs_Nous_z2s5zy.jpg') ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center center;
  img {
    height: 100%;
  }
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  min-height: 100vh;
  letter-spacing: 1px;
  }

  .form-control {
    font-size: 14px !important;
    height:38px !important;
  }
  .form {
    margin-top: 50px;
  }

.fourth-banner {
  img {
    width: 130px;
    border-radius: 50%;
    // box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.1);
    // border: 2px solid #37bfc3;
     // border: 2px solid #0B2C64;
  }
}


.fifth-banner {
  min-height: 380px;
  background-color: #37bfc3;
  color: white;
}

#apprendre {
  margin-right: auto;
  margin-left: auto;
  display: flow-root;
}
.lancement-expl {
  min-height: 380px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rocket {
  background-color: red;
  background-image: radial-gradient(ellipse at center, rgba(0,0,0,0.4) 40%,rgba(0,0,0,0.3) 60%), url('https://res.cloudinary.com/dcljc9muz/image/upload/v1534350852/rocket-rocket-launch-smoke-73871_rmhoxg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center center;
  min-height: 370px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-carnet-img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 200px;
  margin-bottom: 10px;
}
.carnet-img {
  width: 160px;
  height: 160px;
}


 .card {
  position: relative;
  height: 480px;
  width: 100%;
  cursor: pointer;

  /* Set the transition effects */
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card .front:before,
.card .back:before{
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  // border-width: 0 0 16px 16px;
  // border-style: solid;
  // border-color: #666 #aaa;
}

.card .front,
.card .back{
  // background-color: #cccccc;
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card.flipped {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

/*********************
Front of the card styels
**********************/

.card .flip-button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.card .back {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

//endofessai2
.frisette{
  img {
    width: 100%;
  }
}
.card-title {
  width: 100%;
  p { margin: 0;
    padding:0;
  }
  p:first-child {
  font-size: 29px;
  background-color: white;
  }
  font-size: 20px;
}
#cafe-title {
  color: #A4765B;
}
#cafe-brand {
  color: white;
  background-color: #A4765B;
}
#quinoa-title {
  color: #EED0A6;
}
#quinoa-brand {
  color: white;
  background-color: #EED0A6;
}
.ambiance-grain {
  min-height: 130px;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0) 3%,rgba(255,255,255,0.24) 50%,rgba(255,255,255,1) 100%), url(https://res.cloudinary.com/dcljc9muz/image/upload/c_scale,q_auto:good,w_263/v1522885728/cafe%CC%812_mbn1tg.jpg);
}
.ambiance-grain-quin {
  min-height: 130px;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0) 3%,rgba(255,255,255,0.24) 50%,rgba(255,255,255,1) 100%), url(https://res.cloudinary.com/dcljc9muz/image/upload/c_scale,q_auto:good,w_263/v1522885730/quinoa_m96w3v.jpg);
}
.doypack {
  max-width: 90px;
  margin-top: -65px;
}
.doypack-quinoa {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color:white;
}
.description {
  background-color: white;
  color: #484848;
  text-align:center;
  padding: 15px;
  height: 170px;
  p {
    margin: 0;
  }
 }

 .content-back  {
  height: 90%;
}

//endofcard
.third-banner {
  // background-color:white;
  // color:  #5F5F5F;

  p {
  font-size: 16px;
  }
}
.icons {
  img {
  margin-top:10px;
  max-width: 130px;
  height:130px;
  border-radius: 50%;
  // box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.1);
  //border: 4px solid #F9D243;
  // border: 2px solid #EF476F;
   // border: 2px solid #0B2C64;
  }
}

.followers {
    img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  p {
    margin: 0 0 5px;
  }
}

.team {
  img {
    border-radius: 50%;
  }
  margin-top: 10px;
}

.link {
  position: absolute;
  background: black;
  opacity: 0;
}
.circle {
  width: 50px;
  height: 50px;
  background-color:#F9D243;
  border-radius: 50%;
  p:first-child{
    color: white;
      font-size: 32px;
  }
}
.equipe {
  background-color: #f04770;
  color: white;
  padding-bottom: 10px;

}
.chiapas {
  background-color: red;
  background-image: radial-gradient(ellipse at center, rgba(0,0,0,0.4) 40%,rgba(0,0,0,0.3) 60%), url('https://res.cloudinary.com/dcljc9muz/image/upload/c_scale,e_auto_saturation,w_600/v1534956515/DSC_0510_2_jr4mnw.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center center;
  min-height: 396px !important;
  color: white;
  display: flex;
  align-items: center;
}

.txt {
  padding: 30px;
}
.team > h4{
    font-family: 'Permanent Marker', cursive;

}
  .voteresults {
  img{
    width: 100px !important;
    height: 100px !important;
    object-fit: cover;
    }
  }



@media (max-width: 375px) {

  .rocket {
  margin-top: 10px;
}

.scrollmenu {
  overflow: scroll;
  white-space: nowrap;
  // margin-top: 10px;
  // margin-bottom: -7px;
  padding: 10px;
  background-color: #F5F5F5;
}

.scrollmenu .item {
  display: inline-block;
}

.container {
  padding-left: 35px !important;
  padding-right: 35px !important;
}

.card {
  margin-bottom: 20px;
  height: 420px;
}

.ambiance-grain {
  min-height: 95px;
}
#cafe-title {
  font-size: 25px !important;
}

#cafe-brand {
font-size: 20px;
}
.doypack {
  img {
    width: 70px;
  }

}
.comprendre-image {
  img{
  width: 200px;
  height: 180px;
  }
}

  .instagram {
   min-height: 170px;

  }
.carnet-img {
  margin-left: 10px;
}
.container-carnet-img {
min-height: 170px;
}
.title > h1 {
  font-size: 30px;
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-wagon {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
//first-banner
.first-banner{
background-image: radial-gradient(ellipse at center, rgba(0,50,70,0.2) 40%,rgba(0,50,70,0.2) 100%), url("https://res.cloudinary.com/dcljc9muz/image/upload/c_scale,h_850,q_auto:low/v1524784283/Chipas_tapachula_2mo_uofivn.png") ;
background-size: auto !important;
background-repeat: no-repeat!important;
background-position:center center;
min-height: 100vh !important;
}
.punchline {
  h1 {
    font-size: 32px;
    line-height: 1.3;
  };
  h3 {
    line-height: 1.6;
    font-size: 18px;
  };
}

.form {
  margin-top: 0px;
}


#clockrow {
    margin-bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    h3 {
      font-size: 20px;
    }
  }
#clockdiv {
  font-size: 25px;
  letter-spacing: 1px;
}

.smalltext {
  font-size: 13px;
}
.rocket {
  min-height: 250px;
}


.icons img {
  max-width: 120px;
  height: 120px;
}



.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

.team {

    img {
  width:100px;
  height:100px;
    border-radius: 50%;
  }
}

}
