.wrapper {
  h5 {
    font-size: 15px;
  }
  // font-family: 'Poppins', sans-serif;
  // font-family: 'Encode Sans Condensed', sans-serif;
  // font-family: 'Encode Sans Condensed', sans-serif;
// font-family: 'Lato', sans-serif;
// font-family: 'Oswald', sans-serif;
// font-family: 'Encode Sans Semi Expanded', sans-serif;
font-family: 'Fira Sans', sans-serif;
// font-family: 'Josefin Sans', sans-serif;
}
.content-white {
  background-color: white;
  padding: 20px;
  color: #484848 !important;
  margin-bottom: 20px;
}

.content {
  background: rgba(0, 0, 0, 0.25);
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: 1px;
  color: white;
  h4 {
    font-size: 20px;
  }

}

.first-banner {
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  min-height: 80vh;
   letter-spacing: 1px;

   h1{
    letter-spacing: 2px;
    font-size: 44px;
    }
  // .list-inline>li{
  //   width: 25%;
  // }
  }

  .form-control {
    font-size: 16px !important;
    height:38px !important;
  }
  .form {
    margin-top: 50px;
  }

.btn-warning {
  font-size: 16px !important;
  line-height: 2.3 !important;
  letter-spacing: 1px !important;
}

.second-banner {
  h1 {
    color:  #F9D243;
  }
  }


//video
.youtubevideowrap {
    width: 90%;
    max-width: 640px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.video-container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  margin-top: 10px;
}

//fin video

.sixth-banner {
  // color: #484848;
   margin-top: 25px;

  h4 {
    line-height:30px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.third-banner {
  color: #484848;

  h5 {
   line-height:25px;
   font-size: 16px;
  }
  img {
    width: 130px;
    border-radius: 50%;
    // box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.1);
    border: 6px solid #F9D243;
     // border: 2px solid #0B2C64;
  }
}
.fourth-banner {
  color:white;
  padding-bottom: 30px;
  h4 {
    line-height: 30px;
    font-size: 20px;
  }
  h1 {
    // color:#F4D35E;
    color: #F9D243;
  }
  h2 {
    margin-bottom: 15px;
  }
  img {
  width:100%;
  }
}
.card-title {
  width: 100%;
  p { margin: 0;
    padding:0;
  }
  p:first-child {
  font-size: 29px;
  background-color: white;
  }
  font-size: 20px;
}
#cafe-title {
  color: #A4765B;
}
#cafe-brand {
  color: white;
  background-color: #A4765B;
}
#quinoa-title {
  color: #EED0A6;
}
#quinoa-brand {
  color: white;
  background-color: #EED0A6;
}
.ambiance-grain {
  min-height: 130px;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0) 3%,rgba(255,255,255,0.24) 50%,rgba(255,255,255,1) 100%), url(https://res.cloudinary.com/dcljc9muz/image/upload/c_scale,q_auto:good,w_263/v1522885728/cafe%CC%812_mbn1tg.jpg);
}
.ambiance-grain-quin {
  min-height: 130px;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0) 3%,rgba(255,255,255,0.24) 50%,rgba(255,255,255,1) 100%), url(https://res.cloudinary.com/dcljc9muz/image/upload/c_scale,q_auto:good,w_263/v1522885730/quinoa_m96w3v.jpg);
}
.doypack {
  max-width: 90px;
  margin-top: -65px;
}
.doypack-quinoa {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color:white;
}
.description {
  background-color: white;
  color: #484848;
  text-align:center;
  padding: 25px;
  height: 170px;
  p {
    margin: 0;
  }
 }
.fifth-banner {
  // background-color:white;
  // color:  #5F5F5F;
  h5 {
    font-style: italic;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    // color:#7FC199;
    color: #37bfc3;
    line-height: 20px;
  }
  p {
  font-size: 16px;
  }
}
.icons {
  img {
  margin-top:10px;
  max-width: 130px;
  height:130px;
  border-radius: 50%;
  // box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.1);
  border: 6px solid #F9D243;
   // border: 2px solid #0B2C64;
  }
}
.test {
  margin-top:10px;
  background-color: white;
  opacity:0.9;
  padding: 10px;
}
.doypack-multiple {
  position: relative;
  margin-top: 144px;
  img{
    max-width:100px;
  }
}
#doy-1 {
  position: absolute;
  top: 23px;
  left: 60px;
}
#doy-2 {
  position: absolute;
  top: 23px;
  left: 180px;
}
#doy-3 {
  position: absolute;
  top: 143px;
  left: 125px;
}
.seventh-banner {
  color: white;
  img{
    // border-radius:50%;
    }
    h1 {
      // color: #FFEEB0;
      // color:#F4D35E;
      color: #F9D243;
    }
    h4 {
      line-height: 30px;
      font-size: 20px;
    }
  }
.title{
  margin-bottom: 25px;
}
.followers{
   img{
    border-radius:50%;
    max-height: 50px;
    margin-top: 20px;
  }
}
.circle {
  width: 60px;
  height: 60px;
  background-color:#F9D243;
  border-radius: 50%;
  color: white;
  p:first-child{

      font-size: 44px;
  }


}
  .voteresults {
    // margin-top: 20px;
    color: white;
  img{
    color:white;
    width: 100px !important;
    height: 100px !important;
    object-fit: cover;
    }
  }


@media (max-width: 375px) {
.title > h1 {
  font-size: 29px;
  padding-right: 15px;
  padding-left: 15px;
}

.voteresults {
  color: #5F5F5F;
}
  .content-mob {
    background-color: #37bfc3 !important;
    margin-top: 0px;
    margin-bottom: 0px;
    h1 {
      color: white;
    }
  }

  .content-mob2 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #484848 !important;
    background-color: white !important;
  }


  .navbar-wagon {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  //first-banner
  .first-banner{
  background-image: radial-gradient(ellipse at center, rgba(0,50,70,0.2) 40%,rgba(0,50,70,0.2) 100%), url("https://res.cloudinary.com/dcljc9muz/image/upload/c_scale,h_850,q_auto:low/v1524784283/Chipas_tapachula_2mo_uofivn.png") ;
  background-size: auto !important;
  background-repeat: no-repeat!important;
  background-position:center center;
  }
  .punchline {
    h1 {
      font-size: 35px;
      line-height: 1.3;
    };
    h3 {
      line-height: 1.6;
      font-size: 22px;
    };
  }

  .form {
    margin-top: 0px;
  }

  .sixth-banner h4 {
    line-height: 25px;
    font-size: 16px;

}
.fourth-banner, .second-banner {
color: #484848;
h1 h2 h3{
  color: #484848 !important;
}
h4 {
  line-height:25px;
    font-size: 18px;
    color: #484848;
  }
}
#clockrow {
    margin-bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
  }
#clockdiv {
  font-size: 25px;
  letter-spacing: 1px;
  color: #484848;
}
.card {
  margin-bottom: 20px;
}
.fifth-banner h5 {
  width: 100% !important;
  line-height: 25px;
}

.icons img {
  max-width: 120px;
  height: 120px;
}
.seventh-banner {
  h3 {
    font-size: 22px;
  }
  h4 {
  line-height: 25px;
  font-size: 18px;
}

}

.followers {
  font-size: 14px;x

  img {
    height: 40px;
    width: 40px;
    margin-top: 10px;
  }

}
.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

}
