
.show{
  color: white
}

.content {
  background: linear-gradient(rgba(0, 70, 100, 0.4), rgba(0, 70, 100, 0.4));
  padding: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}



.content-text {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

.team {
  img{
    border-radius: 50%;
  }
}
