
.show{
  color: white;
  line-height: 1.5;
  padding: 4em 1em;
}
h4{
  margin-top: 1em;
  padding-top: 1em;
}
.content-text {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}
.team {
  img{
    border-radius: 50%;
  }
}
