<div class="wrapper">
  <div class="container text-center show">
    <div class="content">
      <div class="content-text">
        <h1>Un grand merci <%= @user.name %></h1>
        <h2>Votre intérêt à ce projet à beaucoup d'importance à nos yeux et ceux des partenaires qui sont engagés avec nous</h2>
        <p>
          Nous vous avons envoyé un mail de bienvenu à l'adresse mail indiquée et vous enverrons des informations concernant l'avancement du projet.
        </p>
        <h3>Si l'idée vous a plu elle plaira à votre entourage alors partagez!</h3>
          <div class="sharethis-inline-share-buttons" data-url="https://latribu.herokuapp.com/"></div>
        <h1>A très vite</h1>
      </div>
      <div class="team">
        <ul class= "list-inline">
          <li><%= cl_image_tag("Capture_d_écran_2018-04-06_à_19.51.10_aqclbn.png", :effect=>"grayscale", :height=>200, :crop=>"scale") %><h4>Thibault</h4></li>
          <li><%= cl_image_tag("Julien_RIou_juezxg.jpg", :height=>200, :width=>200, :crop=>"thumb") %><h4>Julien</h4></li>
        </ul>
      </div>
      <p>Votre email sera exclusivement destiné à vous fournir du contenu émanant de La Tribu.</p>
    </div>
  </div>
</div>

