<div class="wrapper show">
  <div class="show-banner">
    <div class="container">
      <div class="first-banner-content text-center">
        <div class="punchline ">
          <!-- <h1>VOS PRODUITS D'EPICERIE COMME SI VOUS Y ETIEZ!</h1> -->
          <h1>A voté !</h1>
          <!-- <h3>Des produits d'épicerie bons, justes et développés ensembles!</h3> <br> -->
   <!--        <h3>Rejoignez notre communauté de citoyens <br> et élaborons ensemble nos produits d'épicerie. </h3> -->
          <!-- -->
          <br>
        </div>
      </div>
    </div>
  </div>

  <div class="container text-center ">
    <div class="content-text">
      <div class="title">
        <h1>Un grand merci <%= current_user.name.capitalize %></h1>
      </div>
      <div class="share">
        <h4>Vous pouvez à présent inviter vos amis à voter également. <br/> Si l'idée vous a plu elle leur plaira aussi 🙌.</h4>
        <div class="sharethis-inline-share-buttons" data-url="https://www.la-tribu.co"></div>
      </div>
      <div class="boutique">
        <h4>Votre vote compte ! <br/> C'est comme cela qu'en 2018, nous avons développé notre première gamme avec notre communauté.</h4>
        <%= link_to 'DÉCOUVRIR', "https://www.la-tribu.co/les-produits",class: "btn btn-green"%>
      </div>
  </div>
</div>



