<div class="wrapper text-center show">
  <div class="show-banner">
    <div class="container">
      <div class="first-banner-content">
        <div class="punchline ">
          <!-- <h1>VOS PRODUITS D'EPICERIE COMME SI VOUS Y ETIEZ!</h1> -->
          <h1>A voté !</h1>
          <!-- <h3>Des produits d'épicerie bons, justes et développés ensembles!</h3> <br> -->
   <!--        <h3>Rejoignez notre communauté de citoyens <br> et élaborons ensemble nos produits d'épicerie. </h3> -->
          <!-- -->
          <br>
        </div>
      </div>
    </div>
  </div>
  <div class="padded">
    <div class="container">
      <div class="row">
        <div class="content-text">
          <div class="title">
            <h1>Un grand merci <%= current_user.name.capitalize %> !</h1>
          </div>
          <div class="">
            <h4>Nous vous invitons désormais à :</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="share col-xs-12">
          <h1>-1-</h1>
          <h4><strong>Inviter vos amis à voter également.</strong> <br/> Si l'idée vous a plu elle leur plaira aussi 🙌.</h4>
          <div class="call-to-action">
            <div class="sharethis-inline-share-buttons"></div>
          </div>
        </div>
        <div class="boutique col-xs-12">
          <h1>-2-</h1>
          <h4><strong>Comprendre l'importance de votre vote</strong> <br> en découvrant la gamme que nous avons développé avec notre communauté en 2018</h4>
          <div class="call-to-action">
            <%= link_to 'DÉCOUVRIR', "https://www.la-tribu.co/les-produits",class: "btn btn-green"%>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>

</div>



