<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/thibault____/"><i class="fa fa-instagram"></i></a>
    <a href="https://developers.facebook.com/docs/sharing/reference/share-dialog""><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/intent/tweet?text=www.la-tribu.co, latribu, marquedeconsommateur"><i class="fa fa-twitter"></i></a>
    <a href="https://www.linkedin.com/shareArticle?mini=tru&url=http://www.la-tribu.co
"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    made with <i class="fa fa-heart"></i> at Le Wagon
  </div>
</div>
