<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/latribu__lamarquecollaborative/" target="_blank"><i class="fa fa-instagram"></i></a>
    <a href="https://www.facebook.com/sharer/sharer.php?u=www.la-tribu.co" target="_blank"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/intent/tweet?text=www.la-tribu.co, latribu, marquedeconsommateur" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="https://www.linkedin.com/shareArticle?mini=tru&url=http://www.la-tribu.co
" target="_blank"><i class="fa fa-linkedin"></i></a>
  </div>
</div>

