<div class="header">
  <div class="navbar-wagon">
    <!-- Logo -->
    <a href="/" class="navbar-wagon-brand">
       <%= cl_image_tag("flowRoot7503-8_qf1iwc.png", :width=>150, :crop=>"scale") %>
    </a>

    <!-- Right Navigation -->
    <div class="navbar-wagon-right hidden-xs hidden-sm">
      <a href="#pourquoilatribu" class="navbar-wagon-item navbar-wagon-link"><h5>Pourquoi La Tribu?</h5></a>
      <a href="#commentcamarche" class="navbar-wagon-item navbar-wagon-link"><h5>Comment ça marche?</h5></a>
      <a href="#carnetderoute" class="navbar-wagon-item navbar-wagon-link"><h5>Carnet de route</h5></a>
      <a href="#cahierdescharges" class="navbar-wagon-item navbar-wagon-link"><h5>Cahier des charges</h5></a>
      <a href="#equipe" class="navbar-wagon-item navbar-wagon-link"><h5>L'équipe</h5></a>
    </div>

  </div>
</div>
