<%= render "shared/navbar" %>
<div class="wrapper-home">

  <div class="first-banner">
    <div class="container">
      <div class="first-banner-content text-center">
        <div class="punchline ">
          <!-- <h1>VOS PRODUITS D'EPICERIE COMME SI VOUS Y ETIEZ!</h1> -->
          <h1>Votez</h1>
          <!-- <h3>Des produits d'épicerie bons, justes et développés ensembles!</h3> <br> -->
   <!--        <h3>Rejoignez notre communauté de citoyens <br> et élaborons ensemble nos produits d'épicerie. </h3> -->
          <!-- -->
          <br>
        </div>
      </div>
    </div>
  </div>
  <div class= "second-banner">
    <div class="container text-center">
      <div class="vote">
        <div class="title">
          <h1>Quels sont les produits que vous aimeriez retrouver sur La Tribu dans les mois à venir?</h1>
          <%= cl_image_tag("Sans_titre_4_cfzevd.png", :quality=>"auto", :fetch_format=>:auto) %>
        </div>
        <div class="pitch">
          <h5>La Tribu est une marque collaborative, elle vous donne la parole. </h5>
          <h5>Vous pourrez régulièrement, contribuer au projet, en nous donnant votre opinion en ligne.</h5>
        </div>
          <%= render "shared/form" %>
      </div>
    </div>
  </div>
</div>

