

.btn-green {
  font-size: 17px !important;
  color: white !important;
  border: none !important;
  font-weight: lighter !important;
  background-color:  #37bfc3 !important;
  a {
    color: white;
  }
}
