.btn-medium {
  font-size: 18px !important;
  color: white !important;
  border: none !important;
  padding: 15px 20px !important;
  border-radius: 50px !important;
  font-weight: lighter !important;
  background-color:  #37bfc3 !important;
}
.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #37bfc3 !important;
  background-color: white !important;
}
