// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

body {
  // background-image: linear-gradient(rgba(0,50,70,0.3), rgba(0,50,70,0.2)), url('http://res.cloudinary.com/dcljc9muz/image/upload/v1522885730/tapachula_f6xcld.jpg') ;
  background-image: radial-gradient(ellipse at center, rgba(0,50,70,0.3) 30%,rgba(0,50,70,0.3) 100%), url('https://res.cloudinary.com/dcljc9muz/image/upload/c_fill,q_auto:good,w_800/v1522885730/tapachula_f6xcld.webp') ;
  // background-image: url('http://res.cloudinary.com/dcljc9muz/image/upload/v1522885730/tapachula_f6xcld.jpg');

  // background-image: radial-gradient(ellipse at center, rgba(0,70,50,0.4) 40%,rgba(0,70,50,0.3) 60%), url('http://res.cloudinary.com/dcljc9muz/image/upload/c_scale,w_1500/v1523561725/coffeplant_p3bft4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}
