// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";



body {
  // // background-image: linear-gradient(rgba(0,50,70,0.3), rgba(0,50,70,0.2)), url('http://res.cloudinary.com/dcljc9muz/image/upload/v1522885730/tapachula_f6xcld.jpg') ;
  // background-image: radial-gradient(ellipse at center, rgba(0,50,70,0.2) 40%,rgba(0,50,70,0.2) 100%), url('https://res.cloudinary.com/dcljc9muz/image/upload/f_auto,c_scale,q_auto:best,w_1500/v1522885730/tapachula_f6xcld.jpg') ;
  // // background-image: url('http://res.cloudinary.com/dcljc9muz/image/upload/v1522885730/tapachula_f6xcld.jpg');

  // // background-image: radial-gradient(ellipse at center, rgba(0,70,50,0.4) 40%,rgba(0,70,50,0.3) 60%), url('http://res.cloudinary.com/dcljc9muz/image/upload/c_scale,w_1500/v1523561725/coffeplant_p3bft4.jpg');
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position:center center;
  // background-attachment: fixed;
}


@media screen and (max-width: 375px) {
  body {
    background-image: none;
  // background-image: radial-gradient(ellipse at center, rgba(0,50,70,0.2) 40%,rgba(0,50,70,0.2) 100%), url("https://res.cloudinary.com/dcljc9muz/image/upload/c_scale,h_850,q_auto:good/v1524784283/Chipas_tapachula_2mo_uofivn.webp") ;
  // background-size: auto !important;
  // background-repeat: no-repeat!important;
  // background-position:center center;
}
}





