// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";


body {
  // background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/dcljc9muz/image/upload/v1522885730/tapachula_f6xcld.jpg') ;

  background-image: url('http://res.cloudinary.com/dcljc9muz/image/upload/v1522885730/tapachula_f6xcld.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}
